@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Trystin St.Louis's Portfolio</h1>
    <h2>About Me</h2>
    <p>include a short paragraph about me</p>
    <br />

    <h2>Skills</h2>
    <p>include the skills and languages i know</p>
    <br />
</div>

<div class="text-right">
    <h2>Contact Information</h2>
    <p>include contact information here</p>
    <br />
</div>
